.btn {
    padding: 12px 16px;
    background: $gray;
    color: $white !important;
    border-radius: $border-radius;
    transition: $base-transition;
    border: none;
    cursor: pointer;

    &:hover {
        background: darken($gray, 2%);
        text-decoration: none;
        color: $white;
    }
    

    &.btn--primary {
        background: $primary-color;
        
        &:hover {
            background: darken($primary-color, 2%);
        }
    }

    &.btn--secondary {
        background: $secondary-color;

        &:hover {
            background: darken($secondary-color, 2%);
        }
    }

    &.btn--md {
        padding: 16px 24px;
    }
}