.input {
    display: block;
    margin-bottom: $unit-6;
    width: 100%;
    outline: none;

    &.input--underline {
        border: none;
        border-bottom: 1px solid $light-gray;
        color: $dark-gray;
        background: transparent;

        &::placeholder {
            color: $light-gray;
        }
    }

    &:active, &:hover, &:focus {
        border-color: $primary-color-light !important;
    }
}