.navbar {
    padding: $unit-4;

    .navbar__logo {
        img {
            height: 2rem;
        }

        // @media (max-width: $size-sm) {
        //     text-align: center;
        //     display: block;
        //     margin-bottom: $unit-5;
        // }
    }

    .navbar__mobile {
        display: none;

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
            cursor: pointer;
        }

        &.opened {
            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }

        @media (max-width: $size-sm) {
            display: block;
            float: right;
        }
    }

    .navbar__links {
        list-style: none;
        float: right;
        margin: 0;

        @media (max-width: $size-sm) {
            display: none;
            margin: 0 auto;
            float: none;
            text-align: center;

            &.opened {
                display: block;
            }
        }

        li {
            display: inline-block;
            padding: $unit-2 $unit-4;
            margin: 0;

            &:last-of-type {
                padding-right: 0;
            }
            
            a {
                text-decoration: none;
                color: $gray;
                transition: $base-transition;

                &:hover {
                    color: $black;
                }
            }
            

            @media (max-width: $size-sm) {
                padding: $unit-4;
                display: block;
            }
        }
    }
}