.navbar {
    padding: $unit-6;

    .navbar__logo {
        img {
            height: 2rem;
        }

        @media (max-width: $size-sm) {
            text-align: center;
            display: block;
            margin-bottom: $unit-5;
        }
    }

    .navbar__links {
        list-style: none;
        float: right;
        margin: 0;

        @media (max-width: $size-sm) {
            display: block;
            margin: 0 auto;
            float: none;
            text-align: center;
        }

        li {
            display: inline-block;
            padding: $unit-2 $unit-6;
            margin: 0;

            &:last-of-type {
                padding-right: 0;
            }
            
            a {
                text-decoration: none;
                color: $black;
            }

            @media (max-width: $size-sm) {
                padding: $unit-2;
            }
        }
    }
}