// Position
.clearfix {
    @include clearfix();
}
  
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.flex-centered {
    align-items: center;
    display: flex;
    justify-content: center;
}

// padding helpers
.u-pad-sm {
    padding: $unit-4;
}
.u-pad-md {
    padding: $unit-6;
}
.u-pad-lg {
    padding: $unit-8;
}
.u-pad-sm-vertical {
    padding-top: $unit-4;
    padding-bottom: $unit-4;
}
.u-pad-md-vertical {
    padding-top: $unit-6;
    padding-bottom: $unit-6;
}
.u-pad-lg-vertical {
    padding-top: $unit-8;
    padding-bottom: $unit-8;
}
.u-pad-lg-bottom {
    padding-bottom: $unit-8;
}

// mar helpers
.u-mar-sm {
    margin: $unit-4;
}
.u-mar-sm-vertical {
    margin-top: $unit-4;
    margin-bottom: $unit-4;
}
.u-mar-md-vertical {
    margin-top: $unit-6;
    margin-bottom: $unit-6;
}
.u-mar-lg-vertical {
    margin-top: $unit-8;
    margin-bottom: $unit-8;
}