.header-title {
    display: inline-block;
    padding-right: 48px;
    padding-bottom: 8px;
}

.header-subtitle {
    margin-bottom: 0;
    max-width: 650px;
    color: $dark-gray;
}

.header-emphasis {
    color: $primary-color;
}

.section-title {
    font-size: $unit-5;
}

.left-border {
    border-left: 6px solid #F3D166;
    padding-left: 10px;
}

.feature {
    padding-top: $unit-4;
    padding-bottom: $unit-4;

    img {
        max-width: 80px;
        max-height: 30px;
        margin-bottom: $unit-6;
    }

    h3 {
        font-weight: 500;
        font-size: $unit-5;
    }
}

.image-arrow {
    position: relative;

    .arrow {
        position: absolute;
        bottom: 15px;
        right: -120px;

        img {
            height: 150px;
        }

        @media (max-width: 1200px) {
            right: -80px;
            
            img {
                height: 110px;
            }
        }

        @media (max-width: $size-lg) {
            img {
                display: none;
            }
        }
    }
}