.header-title {
    display: inline-block;
    padding-right: 48px;
    padding-bottom: 8px;

    @media (max-width: $size-sm) {
        font-size: 1.5rem;
    }
}

.header-subtitle {
    margin-bottom: .5em;
    color: $dark-gray;
    font-weight: 500;
}

.header-emphasis {
    color: $primary-color;
    font-weight: 500;
}

.section-title {
    font-size: $unit-5;
}

.left-border {
    border-left: 6px solid #F3D166;
    padding-left: 10px;

    &.left-border--blue {
        border-color: $primary-color-light;
    }
}

.feature {
    padding-top: $unit-4;
    padding-bottom: $unit-4;

    img {
        max-width: 60px;
        margin-bottom: $unit-4;
    }

    .feature__title {
        font-weight: 500;
        font-size: $unit-5;
    }

    .feature__body {
        color: $gray;
    }
}

.image-arrow {
    position: relative;

    .arrow {
        position: absolute;

        &.arrow-1 {
            bottom: 15px;
            right: -120px;
    
            img {
                height: 150px;
            }
    
            @media (max-width: 1200px) {
                right: -80px;
                
                img {
                    height: 110px;
                }
            }
    
            @media (max-width: $size-lg) {
                img {
                    display: none;
                }
            }
        }

        &.arrow-2 {
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            transform: scale(-1, -1);
            top: 70%;
            right: 95%;
                
            img {
                height: 120px;
            }
    
            @media (max-width: 1200px) {
                img {
                    height: 100px;
                }
            }
    
            @media (max-width: $size-lg) {
                img {
                    display: none;
                }
            }
        }

        &.arrow-3 {
            top: 10px;
            right: 20px;
            transform: rotate(-60deg);

            img {
                height: 120px;
            }
    
            @media (max-width: $size-lg) {
                img {
                    display: none;
                }
            }
        }
    }

    .arrow-text {
        font-size: 85%;
        color: #9B9B9B;
        position: absolute;

        @media (max-width: $size-lg) {
            display: none;
        }

        &.arrow-text-2 {
            top: 115%;
            right: 85%;
            width: 300px;
            transform: rotate(5deg);
    
            @media (max-width: 1200px) {
                right: 80%;
                top: 120%;
            }
        }

        &.arrow-text-3 {
            top: -10px;
            right: 100px;
            transform: rotate(20deg);
        }
    }
}
.quote {
    font-size: 1.2em;

    .author {
        color: $gray;
        font-size: 80%;
    }
}